body {
  background-color: #0b0c10;
}


hr {
  margin: 40px;
  color: #4E4E50;
}

.signup_box, .login_box{
  text-align: center;
}

form.signup > div > label, form.login >div > label{
  position:relative;
  left:26%;
  text-align:left;
}

form.signup > div, form.login > div{
  margin: 10px;
}

header {
  color: #66FCF1;
  text-align: center;
  font-family: Impact;
  font-size: 150px;
  letter-spacing: 10px;
}

header:before {
  content: "PAK";
}


a {
  background-color: #1f2833;
  color: white;
  border: 1px solid;
  border-color: #66FCF1;
  margin: 5px;
  border-radius: 6px;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  background-color: black;
}

form h1 {
  text-align: center;
  font-size: 30px;
}

.footer:before {
  content: "Made by 이성원 2018147598"
}

.footer {
  text-align: center;
  color: white;
  margin: 50px;
  font-family:Courier;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type=submit] {
  width: 50%;
  background-color: #1F2833;
  color: white;
  padding: 10px 20px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
  border-radius: 5px;
  border: 2px solid black;
}
div>form {
  margin: auto;
  height:100%;
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}